/* =========================
   RESET / BASE
========================= */
* { padding: 0; margin: 0; }
*::selection { background: #000101; color: #fefeff; }

html { scroll-behavior: smooth; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #000101;
  color: #fefeff;
  transition: 0.7s ease-in-out;
}

/* =========================
   APPARITIONS
========================= */
.wrapper { perspective: 900px; }
.appear {
  opacity: 0;
  transform: translateY(100%) rotateX(-80deg);
  transform-origin: top center;
  transform-style: preserve-3d;
  transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.appear.is-inview {
  transition-delay: 1s;
  opacity: 1;
  transform: none;
}

/* =========================
   TYPO & LIENS
========================= */
h2 {
  font-size: calc(3rem + 5vw);
  text-align: center;
  color: rgb(217,217,217);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 3px;
}
.title { font-size: calc(1.5rem + 5vw); letter-spacing: 0; }
span { display: inline-block; }

a, a:visited {
  cursor: pointer;
  position: relative;
  text-decoration: none;
}